---
import { getCollection } from 'astro:content';
import { slugify } from "../ts/utils";

const allPosts = await getCollection('posts', ({ data }) => {
  return !data.draft;
});

const categories = [...new Set(allPosts.map((post) => post.data.category.toLowerCase()))];

const categoryCounts = categories.reduce((acc, category) => {
  const count = allPosts.filter(post => 
    post.data.category.toLowerCase() === category
  ).length;
  
  return {
    ...acc,
    [category]: count
  };
}, {} as Record<string, number>);
---

<section class="category-section mb-8 sticky top-8">
  <h2 class="text-2xl font-bold mb-4">Post - Category</h2>
  <div class="flex flex-col gap-2">
    {
      Object.entries(categoryCounts).map(([category, count]) => (
        <a 
          href={`/category/${slugify(category)}`} 
          class="px-3 py-2 bg-gray-100 hover:bg-primary hover:text-white text-gray-800 rounded-md text-sm transition-colors flex justify-between items-center"
        >
          <span>{category}</span>
          <span class="bg-gray-200 text-gray-700 px-2 py-0.5 rounded-full text-xs">{count}</span>
        </a>
      ))
    }
  </div>
</section>