---
import Link from './Link.astro'
import { useTranslations } from '../../i18n/utils';

const { prevUrl, nextUrl } = Astro.props;
const { t } = useTranslations(Astro);
---

<nav aria-label="Pages">
  {
    prevUrl && (
      <Link
        text={t('common.actions.previous')}
        href={prevUrl}
        style="primary"
        borderVisible
        isFilled
        rel="prev"
      />
    )
  }
  {
    nextUrl && (
      <Link
        text={t('common.actions.next')}
        href={nextUrl}
        style="primary"
        borderVisible
        isFilled
        rel="next"
      />
    )
  }
</nav>