---
import { slugify, getPublishedCollection } from "../../ts/utils";

interface Props {
  showCount?: boolean;
  collectionName?: 'projects' | 'posts';
}

const { showCount, collectionName = 'projects' } = Astro.props as Props;

const allProjects = await getPublishedCollection(collectionName);

const allCategories = allProjects
  .map((project) => project.data.tags?.map(tag => tag.toLowerCase()))
  .flat()
  .filter((tag): tag is string => Boolean(tag));

const processedCats = allCategories.reduce((acc, cat) => {
  const value = acc[cat] || 0;
  return {
    ...acc,
    [cat]: value + 1,
  };
}, {} as Record<string, number>);
---

<ul class="categories">
  {
    Object.entries(processedCats).map(([key, val]) => (
      <li>
        <a class="badge" href={`/tag/${slugify(key)}`}>
          {key} {showCount && `(${val})`}
        </a>
      </li>
    ))
  }
</ul>

