---
import { getCollection } from 'astro:content';
import { slugify, countByField } from "../../ts/utils";

interface Props {
  showCount?: boolean;
  collectionName?: 'projects' | 'posts';
}

const { showCount, collectionName = 'projects' } = Astro.props as Props;

const allProjects = await getCollection(collectionName, ({ data }) => {
  return !data.draft;
});

const processedCats = countByField(allProjects, 'tags');
---

<ul class="categories">
  {
    Object.entries(processedCats).map(([key, val]) => (
      <li>
        <a class="badge" href={`/tag/${slugify(key)}`}>
          {key} {showCount && `(${val})`}
        </a>
      </li>
    ))
  }
</ul>

