---
import { slugify } from '../../ts/utils';
import { localizePath, useTranslations } from '../../i18n/utils';

interface Props {
  tags?: string[];
  basePath: string;
}

const { tags = [], basePath } = Astro.props as Props;
const { lang } = useTranslations(Astro);
---
{tags.length > 0 && (
  <div class="flex flex-wrap gap-2">
    {tags.map((tag: string) => (
      <a
        href={localizePath(`${basePath}/${slugify(tag)}`, lang)}
        class="px-3 py-1 bg-background-tertiary rounded-full text-sm hover:bg-primary hover:text-white transition-colors"
      >
        #{tag}
      </a>
    ))}
  </div>
)}
